[Unit]
Description=terraria server service
After=network-online.target

[Service]
User=replace
WorkingDirectory=/dirname/terraria
Type=forking
ExecStart=/bin/bash /dirname/terraria/start.sh
ExecStop=/bin/bash /dirname/terraria/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
