[Unit]
Description=terraria server service
After=network-online.target

[Service]
User=nuc
WorkingDirectory=/home/nuc/terraria
Type=forking
ExecStart=/bin/bash /home/nuc/terraria/start.sh
ExecStop=/bin/bash /home/nuc/terraria/stop.sh
GuessMainPID=no
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
